---
---

$nav-color: hsl(275, 100%, 25%);
$heading-color: hsl(275, 5%, 83%);
$nav-breakpoint: 700px;

@mixin large {
  @media only screen and (min-width: $nav-breakpoint) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: $nav-breakpoint - 1px) {
    @content;
  }
}

@mixin padded {
  padding: 10px 30px;
}

html, body {
  margin: 0px;
  height: 100%;
}

@include large {
  html {
    overflow: hidden;
  }

  body {
    overflow: auto;
    overscroll-behavior: none;
  }
}

.page {
  height: 100%;
  @include large {
    display: grid;
    grid-template-columns: Max(25%, 260px); /* nav width */
  }
}

nav {
  @include padded;
  font-family: "Libre Baskerville", serif;
  background-color: $nav-color;
  a { color: white; }
  @include small {
    #menu-icon {
      float: right;
      position: relative;
      bottom: 5px;
    }
    .hidden { display: none; }
  }
  @include large {
    #menu-icon { display: none; }
    .fixed { position: fixed; }
  }
}

main {
  h2, h3 { font-family: "Libre Baskerville", serif; }
  .serif { font-family: "Libre Baskerville", serif; }

  @include large {
    grid-column: 2;
  }
  .heading {
    @include padded;
    background-color: $heading-color;
  }
  .content {
    @include padded;
    &.narrow { max-width: 800px; }
  }
}

.image-row {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  img { margin-right: 20px; }
}

.game-section {
  padding-top: 20px;
  /* min card width should be about 150px */
  @include small {
    column-count: 1;
    @media only screen and (min-width: 380px) {
      column-count: 2;
    }
    @media only screen and (min-width: 550px) {
      column-count: 3;
    }
  }
  @include large {
    column-count: 2;
    @media only screen and (min-width: 810px) {
      column-count: 3;
    }
    @media only screen and (min-width: 980px) {
      column-count: 4;
    }
    @media only screen and (min-width: 1190px) {
      column-count: 5;
    }
  }
}

.game-card {
  width: 97%;
  border: 1px solid black;
  break-inside: avoid;
  margin-bottom: 20px;
  a {
    color: black;
  }
  img {
    width: 100%;
    display: block;
  }
  div {
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
    color: black;
  }
}
